.QnA-container {

      width: 80%;
      margin: 60px auto;
}

.QnA {
      border-radius: 15px;
      padding: 20px;
      margin-bottom: 30px;
      background-color: #9fffdf;
      box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.67);
}

.QnA p {
      line-height: 20px;
      text-align: justify;
}